{% load humanize %}
<p>
    {% if announcement_list %}
        {% for a in announcement_list %}
        <div class="card my-4">                          
            <div class="card-body">
                <h5 class="card-title">{{ a.title }}</h5>
                <div class="flex-row">
                    <a href="" id="date" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ a.created_at }}" class="card-subtitle mb-2 text-body-secondary">{{ a.created_at|naturaltime }}</a>
                    {% if a.was_edited %}
                        <span class="card-subtitle mb-2 text-body-secondary">(Editado <a href="" id="date" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ a.updated_at }}" class="card-subtitle mb-2 text-body-secondary">{{ a.updated_at|naturaltime }}</a>)</span>
                    {% endif %}
                </div>
                <p>{{ a.body }}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <p>No hay anuncios para mostrar</p>
    {% endif %}
</p>
<script>    
    [...document.querySelectorAll('[data-bs-toggle="popover"]')].forEach(el => new bootstrap.Popover(el))
</script>